/* Настраиваю глобальный тег Body */
body {
    background-color: var(--background-color);
    color: var(--secondary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
}

/* Селектор цветов через переменные */
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #E5E5E5;
    --secondary-background-color: #2F303A;
    --our-team-color: #F5F4FA;
}

/* title color */
.title {
    color: var(--title-text-color);
}

/* Шапка сайта */
.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
}

.header-class {
    background-color: var(--primary-text-color);
}

.site-nav .title.current {
    color: var(--accent-color);
}

/* Наша команда*/
/* Секция героя */
.section-title {
    color: var(--primary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-hero {
    background-color: var(--secondary-background-color);
}

.accent-button {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Наша команда */
.section-our-team {
    background-color: var(--our-team-color);
}

.list {
    list-style: none;
}

.contact a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}

.site-nav .title:hover,
.site-nav .title:focus {
    color: var(--accent-color);
}

.site-nav a,
.contact.header a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* Footer */
.contact-footer a {
    color: var(--primary-text-color);
    opacity: 0.6;
}

.contact-footer a:hover,
.contact-footer a:focus {
    color: var(--accent-color);
    opacity: 0.6;
}

.footer-back {
    background-color: var(--secondary-background-color);
}

.footer-back a {
    color: var(--primary-text-color);
}

.footer-back .contacts {
    opacity: 0.6;
}

.contact.footer a {
    font-style: normal;
    text-decoration: none;
}

/* Секция Особенности */
.our-features {
    display: none;
}

.list.features .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.14;
    text-transform: uppercase;
}

.list.features p {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
}

/* Секция Чем мы занимаемся? и Наша команда */
.title.about-us {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
}

.section-our-team p {
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
}

/* Portfolio Page */

/* Hiding H1 */
.portfolio-content.hide {
    display: none;
}

/* Buttons Selector */
.project-selector button {
    background-color: var(--our-team-color);
    color: var(--title-text-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    text-align: center;
    cursor: pointer;
}

/* Buttong Hover and Focus */
.project-selector .title:hover,
.project-selector .title:focus,
.project-selector .title.current {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}

.project-links a {
    text-decoration: none;
}

.project-links h2 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
}

.project-links p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
}